/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/

/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
  box-sizing: border-box !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: #666666;
  font-size: 14px;
  font-family: "Lato", sans-serif;
  line-height: 1.80857;
  font-weight: normal;
}

a {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0;
  font-weight: normal;
  position: relative;
  padding: 0 0 10px 0;
  font-weight: normal;
  line-height: normal;
  margin: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none !important;
  opacity: 1;
}

button:focus {
  outline: none;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 0px;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
}

a {
  text-decoration: none;
  outline: none !important;
}

a,
.btn {
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

img {
  max-width: 100%;
  height: auto;
}

:focus {
  outline: 0;
}

.btn-custom {
  margin-top: 20px;
  background-color: transparent !important;
  border: 2px solid #ddd;
  padding: 12px 40px;
  font-size: 16px;
}

.lead {
  font-size: 18px;
  line-height: 30px;
  color: #767676;
  margin: 0;
  padding: 0;
}

.form-control:focus {
  border-color: #ffffff !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.badge {
  font-weight: 500;
}

blockquote {
  margin: 20px 0 20px;
  padding: 30px;
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.full {
  float: left;
  width: 100%;
}

.full {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.spacer {
  border: none;
  height: 2px; /* Customize height as needed */
  background-color: grey; /* Customize color as needed */
  margin: 60px; /* Adjust margin as needed */
  position: relative;
  z-index: 1;
}

.fade-in-element { /* js fade in, set to .visible */
  opacity: 0;
  transition: opacity 1s ease-in-out;
  will-change: opacity; /* Optimization hint for the browser */
}
.fade-in-element.visible {
  opacity: 1;
}

.fadeIn{ /* automatic fade in */
  animation: fadeIn 1s ease-in forwards;
  will-change: opacity; /* Optimization hint for the browser */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  background: #430919;
  border-radius: 100%;
  box-shadow: 3px 3px 5px #430919;
  height: 50px;
  width: 50px;
  margin: 20px;
  cursor: pointer;
  transition: all 0.5s ease; /* Smooth transition effect */
  z-index: 2;
}
#back-to-top img {
  width: 60%; /*centering hack*/
  margin: 20%;
  transition: transform 0.5s ease; /* Smooth transition effect */
}
#back-to-top:hover {
  transform: translate(2px, 2px);
}
#cylinder1 {
  top: -400px;
  left: 500px;
  position: fixed;
  background-color: #430919;
}
#cylinder2 {
  top: 0px;
  left: 400px;
  position: fixed;
  background-color: #430919;
}
#cylinder3 {
  top: -600px;
  left: 1000px;
  position: fixed;
  background-color: #6f0720;
}
.cylinder {
  width: 70px; /* Adjust width */
  height: 600px; /* Adjust height */
  border-radius: 35px;

  transform: rotate(45deg);
  animation: move 60s linear infinite, fade-in-out 60s linear infinite;
}
@keyframes move {
  0% {
    transform: translate(0, 0) rotate(45deg);
  }
  100% {
    transform: translate(-50vw, 50vh) rotate(45deg);
  }
}

@keyframes fade-in-out {
  0% {
    opacity: 0; /* Start with opacity 0 for fade-in */
  }
  3% {
    opacity: 1; /* Quickly fade in */
  }
  95% {
    opacity: 1; /* Keep opacity at 1 for most of the animation */
  }
  100% {
    opacity: 0; /* Fade out at the end */
  }
}

/*-- navigation--*/

.navbar {
  z-index: 1;
}

.nav-link {
  text-align: right;
  padding: 0.5rem 25px !important;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.nav-link:focus,
.nav-link:hover {
  color: #e70139;
}

.active > .nav-link,
.nav-link.active,
.nav-link.show,
.show > .nav-link {
  color: #e70139;
}
.hamburger {
  background-color: white;
  height: 4px;
  margin: 6px 0 6px 0;
}

.logo img {
  border-radius: 100%;
  box-shadow: 0px 0px 5px 5px #430919;
  transition: transform 0.5s ease; /* Smooth transition effect */
}
.logo img:hover {
  transform: translate(2px, 2px);
}

/*-- end navigation--*/

/** banner section **/

.socials svg {
  width: 30px;
  height: 30px;
  color: white;
  transition: all 0.5s ease; /* Smooth transition effect */
}
.socials svg:hover {
  color: #e70139;
  transform: scale(1.1);
}

.typeletter {
  animation: typeSimulate 0.3s linear forwards;
  display: inline;
}
.typecursor {
  animation: typeSimulate 1s infinite;
  display: inline;
}

@keyframes typeSimulate {
  0% {
    background-color: white;
  }
  50% {
    background-color: white;
  }
  100% {
    background-color: none;
  }
}
.bann-img-col {
  height: 200px;
}
.bann-img {
  position: relative;
  max-width: 360px;
}

.bann-img figure {
  margin: 0;
  transition: transform 0.5s ease; /* Smooth transition effect */
}

.bann-img figure img {
  width: 100%;
}

.triangle {
  width: 45%;
  position: absolute;
  top: -7%;
  left: 27%;
  z-index: 1; /* Adjust the z-index to position the image on top */
  animation: spin 60s linear infinite; /* Adjust duration of spin animation */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bann-img:hover figure {
  transform: scale(1.03); /* Zoom effect on hover */
}



.big-button {
  border-radius: 0.5rem;
  font-size: 20px;
  background-color: #fff;
  color: #ff283f;
  font-weight: 600;
  padding: 22px 0px;
  width: 100%;
  max-width: 320px;
  text-align: center;
  display: inline-block;
  transition: ease all 0.5s;
  text-transform: uppercase;
}
.big-button svg {
  width: 24px;
  height: 24px;
  vertical-align: text-bottom;
}

.big-button:hover {
  background-color: #ff283f;
  color: #fff;
  cursor: pointer;
}
h1.white {
  color: #fff;
  font-size: 78px;
  line-height: 96px;
  font-weight: 800;
}

h2.white {
  font-size: 45px;
  color: white;
  line-height: 55px;
  font-weight: 800;
  padding: 0;
}
h3.white {
  text-align: left;
  font-size: 45px;
  color: white;
  line-height: 55px;
  font-weight: 800;
  padding: 0;
}

.container {
  max-width: 1170px;
}

/** banner section **/

/** work section **/

.work {
  padding-top: 90px;
}
.work h2 {
  color: #b3b3b3;
}

.work_link,
.work_link h3 {
  color: #e70139;
  transition: ease-in all 0.2s;
}
.work_link:hover,
.work_link h3:hover {
  color: whitesmoke;
  text-decoration: underline !important;
}

.work_pic {
  margin-bottom: 30px;
}

.work_pic figure {
  margin: 0px;
}

.work_pic figure img {
  transition: ease-in all 0.2s;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Apply a box-shadow to create a shadow effect */
}

.work_pic figure img:hover {
  transform: scale(0.99);
}
.work-col {
  display: grid;
  margin-bottom: 30px;
}
.tech_bubble{
  padding:0 10px 0 10px;
  margin: 0 10px 10px 0;
  background-color: #430919;
  border-radius: 0.5rem;
}

/** end work section **/

/** footer **/

.contact {
  padding-bottom: 60px;
  padding-top: 90px;
  text-align: center;
}

p {
  text-align: left;
  color: whitesmoke;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
}

.contact-links {
  background: #fff;
  padding: 31px;
  text-align: left;
  border-radius: 0.5rem;
}

.contact-links img {
  margin-right: 20px;
  width: 40px;
}

.contact-links ul li {
  padding-bottom: 25px;
  font-size: 25px;
  color: #e70139;
  line-height: 30px;
}

.contact-links ul li:last-child {
  padding-bottom: 0;
}

.contact-links a {
  color: #e70139;
}

.contact-links a:hover {
  color: #000;
}

.copyright {
  background: #6f0720;
  margin-top: 90px;
  position: relative;
  z-index:1;
}

.copyright p {
  color: #fff;
  font-size: 17px;
  line-height: 22px;
  font-weight: 400;
}

.copyright a {
  color: #fff;
}

.copyright a:hover {
  color: #000;
}

/** end footer **/
/** comment Writer **/
.factorGroup,#studentInfoDiv,#generateDiv{
  background:#e8e9ee;
}
.input-group-text{
  background:#CAD6E2;
}
.infoBubble{
  width:20px;
}

@media (min-width: 768px) {
  .sticky-column {
      position: sticky;
      top: 0;
  }
}
/** end comment writer **/

/*--------------------------------------------------------------------- Responsive ---------------------------------------------------------------------*/

/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media (min-width: 1200px) and (max-width: 1342px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
  .bann-img-col {
    height: auto;
  }
  h2.white {
    font-size: 38px;
    line-height: 41px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .bann-img-col {
    height: auto;
  }
  .big-button {
    max-width: 250px;
  }
  h2.white {
    font-size: 30px;
    line-height: 41px;
  }
}

@media (max-width: 575px) {
  .bann-img-col {
    height: auto;
  }
  .header {
    padding: 30px 0px;
  }
  .big-button {
    max-width: 250px;
  }
  h1.white {
    font-size: 57px;
    line-height: 81px;
  }
  h2.white {
    font-size: 30px;
    line-height: 41px;
  }
  .contact-links ul li {
    font-size: 20px;
    line-height: 25px;
  }
}
